# First we have to import libraries

In [3]:
import numpy as np
import pandas as pd

# we import the dataset and define a dataframe movies and credits

In [4]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [5]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [7]:
movies.shape

(4803, 20)

In [8]:
credits.shape

(4803, 4)

# we merge the two dataset as it became easy to deal on one specific dataset

In [9]:
movies.merge(credits, on='title')

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,9367,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,72766,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,231617,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,126186,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,25975,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

Now we assign the new dataset inside the movies dataset

In [10]:
movies = movies.merge(credits, on='title')

In [11]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

we are fetching some column from movies dataframe

In [12]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]
#id
#genres
#overview
#keywords
#cast
#crew
#title

In [13]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [14]:
movies.shape

(4809, 7)

In [15]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.6+ KB

In [16]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

as we see overview column has 3 null data so simple we have to drop them

In [17]:
movies.dropna(inplace=True)

In [18]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

now we check for duplicate data

In [19]:
movies.duplicated().sum()

0

In [20]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [21]:
movies.iloc[0]

movie_id                                                19995
title                                                  Avatar
overview    In the 22nd century, a paraplegic Marine is di...
genres      [{"id": 28, "name": "Action"}, {"id": 12, "nam...
keywords    [{"id": 1463, "name": "culture clash"}, {"id":...
cast        [{"cast_id": 242, "character": "Jake Sully", "...
crew        [{"credit_id": "52fe48009251416c750aca23", "de...
Name: 0, dtype: object

In [22]:
def convert(obj):
    L = []
    for i in obj:
        L.append(i['name'])
    return L

This function does not return something because the genres column is in string form. Let call convert by passing genre column.

In [23]:
convert('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

TypeError: string indices must be integers

So we have to convert the string of list into list. There is a modulo in python that help to overcome this problem.

In [24]:
import ast

In [25]:
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [26]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [27]:
movies['genres'].apply(convert)

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [28]:
movies['genres']=movies['genres'].apply(convert)

In [29]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

we do this same process to keyword column

In [30]:
movies['keywords']=movies['keywords'].apply(convert)

In [31]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

Now we define a new function counter3, which help to fetch top 3 actor/actress from the cast column

In [32]:
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter!=3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [33]:
movies['cast'].apply(convert3)

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, LÃ©a Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry BishÃ©, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [34]:
movies['cast']=movies['cast'].apply(convert3)

In [35]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [36]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job']=='Director' :
            L.append(i['name'])
            break
    return L

In [37]:
movies['crew'].apply(fetch_director)

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew, Length: 4806, dtype: object

In [38]:
movies['crew']=movies['crew'].apply(fetch_director)

In [39]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

As we see the overview column is string so now we have to convert it into list

In [40]:
movies['overview'].apply(lambda x:x.split())

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bondâ€™s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [41]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [42]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

we remove all space from the data in each column

In [43]:
movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

0       [Action, Adventure, Fantasy, ScienceFiction]
1                       [Adventure, Fantasy, Action]
2                         [Action, Adventure, Crime]
3                   [Action, Crime, Drama, Thriller]
4                [Action, Adventure, ScienceFiction]
                            ...
4804                       [Action, Crime, Thriller]
4805                               [Comedy, Romance]
4806               [Comedy, Drama, Romance, TVMovie]
4807                                              []
4808                                   [Documentary]
Name: genres, Length: 4806, dtype: object

In [45]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [47]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [48]:
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [49]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

define a new column tags in which we add all the data from column overview, genres, keywords, cast, crew

In [50]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [51]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes],"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [52]:
movies['tags']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bondâ€™s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: tags, Length: 4806, dtype: object

In [53]:
new_database = movies[['movie_id', 'title', 'tags']]

In [54]:
new_database

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

now we convert all tags data to string

In [55]:
new_database['tags']  = new_database['tags'].apply(lambda x:" ".join(x))

C:\Users\DELL\AppData\Local\Temp\ipykernel_26836\3063583867.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_database['tags']  = new_database['tags'].apply(lambda x:" ".join(x))

In [56]:
new_database

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...

In [57]:
new_database['tags']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bondâ€™s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [58]:
new_database.head(1)

   movie_id   title                                               tags
0     19995  Avatar  In the 22nd century, a paraplegic Marine is di...

In [79]:
import nltk

In [81]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [82]:
ps.stem('loving')

'love'

In [83]:
ps.stem('dancing')

'danc'

In [84]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [86]:
new_database['tags'] = new_database['tags'].apply(stem)

C:\Users\DELL\AppData\Local\Temp\ipykernel_26836\2796414392.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_database['tags'] = new_database['tags'].apply(stem)

In [87]:
new_database['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [88]:
new_database['tags'] = new_database['tags'].apply(lambda x:x.lower())

C:\Users\DELL\AppData\Local\Temp\ipykernel_26836\4056856492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_database['tags'] = new_database['tags'].apply(lambda x:x.lower())

In [89]:
new_database['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [90]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [91]:
cv.fit_transform(new_database['tags']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [92]:
cv.fit_transform(new_database['tags']).toarray().shape

(4806, 5000)

In [93]:
vector = cv.fit_transform(new_database['tags']).toarray()

In [94]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [95]:
len(cv.get_feature_names_out())

5000

In [96]:
from sklearn.metrics.pairwise import cosine_similarity

In [98]:
cosine_similarity(vector)

array([[1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
        0.        ],
       [0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
        0.02615329],
       [0.0860309 , 0.06063391, 1.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02378257, 0.02451452, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [99]:
cosine_similarity(vector).shape

(4806, 4806)

In [100]:
similarity = cosine_similarity(vector)

In [101]:
similarity

array([[1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
        0.        ],
       [0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
        0.02615329],
       [0.0860309 , 0.06063391, 1.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02378257, 0.02451452, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [103]:
new_database[new_database['title'] == 'Avatar']

   movie_id   title                                               tags
0     19995  Avatar  in the 22nd century, a parapleg marin is dispa...

In [105]:
new_database[new_database['title'] == 'Avatar'].index[0]

0

In [106]:
new_database[new_database['title'] == 'Batman Begins']

,movie_id,title,tags
119,272,Batman Begins,"driven by tragedy, billionair bruce wayn dedic..."

In [108]:
new_database[new_database['title'] == 'The Dark Knight']

,movie_id,title,tags
65,155,The Dark Knight,batman rais the stake in hi war on crime. with...

In [109]:
new_database[new_database['title'] == 'The Dark Knight'].index[0]

65

In [110]:
sorted(list(enumerate(similarity[0])), reverse = True)

[(4805, 0.0),
 (4804, 0.0),
 (4803, 0.04499212706658476),
 (4802, 0.046829290579084706),
 (4801, 0.019252140716412975),
 (4800, 0.0),
 (4799, 0.052631578947368425),
 (4798, 0.04223886030955117),
 (4797, 0.0),
 (4796, 0.0),
 (4795, 0.0),
 (4794, 0.0),
 (4793, 0.05407380704358751),
 (4792, 0.0),
 (4791, 0.0),
 (4790, 0.0582716546748065),
 (4789, 0.060833032924035954),
 (4788, 0.0),
 (4787, 0.019672236884115842),
 (4786, 0.0),
 (4785, 0.019672236884115842),
 (4784, 0.043355498476206004),
 (4783, 0.0),
 (4782, 0.025649458802128853),
 (4781, 0.0582716546748065),
 (4780, 0.0),
 (4779, 0.0),
 (4778, 0.0),
 (4777, 0.10814761408717502),
 (4776, 0.0),
 (4775, 0.05647824947249051),
 (4774, 0.0),
 (4773, 0.029617443887954616),
 (4772, 0.023918243661746996),
 (4771, 0.039344473768231684),
 (4770, 0.0),
 (4769, 0.0),
 (4768, 0.0),
 (4767, 0.03627381250550058),
 (4766, 0.017195436249022724),
 (4765, 0.0),
 (4764, 0.0),
 (4763, 0.0),
 (4762, 0.0),
 (4761, 0.02742042485535409),
 (4760, 0.025334729596907),
 (4759, 0.019389168358237032),
 (4758, 0.0),
 (4757, 0.046829290579084706),
 (4756, 0.0),
 (4755, 0.026315789473684213),
 (4754, 0.08603090020146065),
 (4753, 0.0),
 (4752, 0.029617443887954616),
 (4751, 0.021119430154775586),
 (4750, 0.0),
 (4749, 0.0),
 (4748, 0.01981850088223545),
 (4747, 0.0),
 (4746, 0.0),
 (4745, 0.0),
 (4744, 0.03065696697424829),
 (4743, 0.014627012952620635),
 (4742, 0.040555355282690636),
 (4741, 0.0),
 (4740, 0.0),
 (4739, 0.025649458802128853),
 (4738, 0.0),
 (4737, 0.0837707816583391),
 (4736, 0.0),
 (4735, 0.0),
 (4734, 0.024115646544478436),
 (4733, 0.0),
 (4732, 0.0),
 (4731, 0.02782074420373286),
 (4730, 0.02294157338705618),
 (4729, 0.0),
 (4728, 0.0),
 (4727, 0.0533380747062665),
 (4726, 0.0),
 (4725, 0.0),
 (4724, 0.0),
 (4723, 0.0),
 (4722, 0.0415406492397264),
 (4721, 0.0),
 (4720, 0.028676966733820218),
 (4719, 0.0),
 (4718, 0.040555355282690636),
 (4717, 0.0),
 (4716, 0.0),
 (4715, 0.0),
 (4714, 0.0),
 (4713, 0.023174488732966077),
 (4712, 0.02271554252121273),
 (4711, 0.056573571480353566),
 (4710, 0.0),
 (4709, 0.0),
 (4708, 0.0),
 (4707, 0.025649458802128853),
 (4706, 0.011302501972710611),
 (4705, 0.0),
 (4704, 0.06362847629757779),
 (4703, 0.03382550457458692),
 (4702, 0.0),
 (4701, 0.0),
 (4700, 0.03244428422615251),
 (4699, 0.05564148840746572),
 (4698, 0.0),
 (4697, 0.0),
 (4696, 0.014567913668701625),
 (4695, 0.04024218182927669),
 (4694, 0.022282825891079324),
 (4693, 0.0602475233128778),
 (4692, 0.0),
 (4691, 0.052631578947368425),
 (4690, 0.023918243661746996),
 (4689, 0.0),
 (4688, 0.0),
 (4687, 0.0),
 (4686, 0.0),
 (4685, 0.0),
 (4684, 0.0),
 (4683, 0.0),
 (4682, 0.0),
 (4681, 0.0),
 (4680, 0.05923488777590923),
 (4679, 0.04499212706658476),
 (4678, 0.0),
 (4677, 0.0),
 (4676, 0.0),
 (4675, 0.027036903521793755),
 (4674, 0.02249606353329238),
 (4673, 0.11846977555181847),
 (4672, 0.04588314677411236),
 (4671, 0.028239124736245257),
 (4670, 0.03673591791853225),
 (4669, 0.028676966733820218),
 (4668, 0.0),
 (4667, 0.02742042485535409),
 (4666, 0.03181423814878889),
 (4665, 0.0),
 (4664, 0.06131393394849658),
 (4663, 0.0),
 (4662, 0.0207703246198632),
 (4661, 0.03181423814878889),
 (4660, 0.0),
 (4659, 0.031219527052723135),
 (4658, 0.0),
 (4657, 0.08111071056538127),
 (4656, 0.019389168358237032),
 (4655, 0.039344473768231684),
 (4654, 0.08111071056538127),
 (4653, 0.0),
 (4652, 0.06131393394849658),
 (4651, 0.040555355282690636),
 (4650, 0.0),
 (4649, 0.0),
 (4648, 0.018731716231633878),
 (4647, 0.021119430154775586),
 (4646, 0.039344473768231684),
 (4645, 0.0),
 (4644, 0.0),
 (4643, 0.04188539082916955),
 (4642, 0.0331133089266261),
 (4641, 0.08111071056538127),
 (4640, 0.07254762501100118),
 (4639, 0.0),
 (4638, 0.07079923254047887),
 (4637, 0.0),
 (4636, 0.057353933467640436),
 (4635, 0.039344473768231684),
 (4634, 0.025976216673306556),
 (4633, 0.02666903735313325),
 (4632, 0.03458572319330373),
 (4631, 0.0),
 (4630, 0.03419927840283847),
 (4629, 0.02913582733740325),
 (4628, 0.0),
 (4627, 0.04024218182927669),
 (4626, 0.08111071056538127),
 (4625, 0.0),
 (4624, 0.07694837640638656),
 (4623, 0.06488856845230502),
 (4622, 0.03458572319330373),
 (4621, 0.0),
 (4620, 0.025031308716087945),
 (4619, 0.04499212706658476),
 (4618, 0.029617443887954616),
 (4617, 0.0),
 (4616, 0.0),
 (4615, 0.0),
 (4614, 0.0),
 (4613, 0.0),
 (4612, 0.0),
 (4611, 0.03382550457458692),
 (4610, 0.0),
 (4609, 0.0),
 (4608, 0.0),
 (4607, 0.0415406492397264),
 (4606, 0.04188539082916955),
 (4605, 0.02666903735313325),
 (4604, 0.03382550457458692),
 (4603, 0.0),
 (4602, 0.05407380704358751),
 (4601, 0.0),
 (4600, 0.01981850088223545),
 (4599, 0.0),
 (4598, 0.0),
 (4597, 0.021486752129677003),
 (4596, 0.051298917604257706),
 (4595, 0.0),
 (4594, 0.0),
 (4593, 0.0),
 (4592, 0.0),
 (4591, 0.057353933467640436),
 (4590, 0.04783648732349399),
 (4589, 0.02666903735313325),
 (4588, 0.0),
 (4587, 0.08671099695241201),
 (4586, 0.0),
 (4585, 0.0),
 (4584, 0.0),
 (4583, 0.0),
 (4582, 0.052786150730834015),
 (4581, 0.0331133089266261),
 (4580, 0.03181423814878889),
 (4579, 0.029617443887954616),
 (4578, 0.0582716546748065),
 (4577, 0.0),
 (4576, 0.02294157338705618),
 (4575, 0.0),
 (4574, 0.017005425596285897),
 (4573, 0.03721614637823934),
 (4572, 0.0),
 (4571, 0.0),
 (4570, 0.0301237616564389),
 (4569, 0.028676966733820218),
 (4568, 0.08111071056538127),
 (4567, 0.0),
 (4566, 0.06131393394849658),
 (4565, 0.014686837386151168),
 (4564, 0.04188539082916955),
 (4563, 0.0),
 (4562, 0.0),
 (4561, 0.0),
 (4560, 0.08471737420873576),
 (4559, 0.03673591791853225),
 (4558, 0.076004188790721),
 (4557, 0.03823595564509363),
 (4556, 0.0),
 (4555, 0.040555355282690636),
 (4554, 0.03627381250550058),
 (4553, 0.024455799402225926),
 (4552, 0.04120428217151646),
 (4551, 0.0),
 (4550, 0.0),
 (4549, 0.023918243661746996),
 (4548, 0.0),
 (4547, 0.0),
 (4546, 0.0),
 (4545, 0.09558988911273408),
 (4544, 0.0),
 (4543, 0.02742042485535409),
 (4542, 0.07443229275647868),
 (4541, 0.0),
 (4540, 0.05407380704358751),
 (4539, 0.0),
 (4538, 0.13629325512727639),
 (4537, 0.0),
 (4536, 0.02913582733740325),
 (4535, 0.03382550457458692),
 (4534, 0.0),
 (4533, 0.051298917604257706),
 (4532, 0.033463724070512735),
 (4531, 0.0),
 (4530, 0.050669459193814),
 (4529, 0.01255307044856882),
 (4528, 0.04891159880445185),
 (4527, 0.0),
 (4526, 0.0),
 (4525, 0.04456565178215865),
 (4524, 0.023918243661746996),
 (4523, 0.0),
 (4522, 0.013809204416652687),
 (4521, 0.0),
 (4520, 0.0),
 (4519, 0.05006261743217589),
 (4518, 0.0),
 (4517, 0.0),
 (4516, 0.08671099695241201),
 (4515, 0.0),
 (4514, 0.02913582733740325),
 (4513, 0.0),
 (4512, 0.05006261743217589),
 (4511, 0.027036903521793755),
 (4510, 0.025649458802128853),
 (4509, 0.0),
 (4508, 0.0),
 (4507, 0.0),
 (4506, 0.07987230638308718),
 (4505, 0.029617443887954616),
 (4504, 0.0),
 (4503, 0.0),
 (4502, 0.09365858115816941),
 (4501, 0.0),
 (4500, 0.0),
 (4499, 0.0),
 (4498, 0.025031308716087945),
 (4497, 0.0),
 (4496, 0.0),
 (4495, 0.0),
 (4494, 0.0),
 (4493, 0.0),
 (4492, 0.08111071056538127),
 (4491, 0.0),
 (4490, 0.09933992677987831),
 (4489, 0.015682536711195138),
 (4488, 0.0),
 (4487, 0.021873931962990357),
 (4486, 0.03382550457458692),
 (4485, 0.029617443887954616),
 (4484, 0.020942695414584774),
 (4483, 0.07098727864204515),
 (4482, 0.03244428422615251),
 (4481, 0.0),
 (4480, 0.0),
 (4479, 0.0),
 (4478, 0.0),
 (4477, 0.03823595564509363),
 (4476, 0.0),
 (4475, 0.0),
 (4474, 0.03627381250550058),
 (4473, 0.07868894753646337),
 (4472, 0.09733285267845754),
 (4471, 0.03797316245786213),
 (4470, 0.0),
 (4469, 0.025649458802128853),
 (4468, 0.11128297681493143),
 (4467, 0.028676966733820218),
 (4466, 0.03905832834322535),
 (4465, 0.0),
 (4464, 0.0),
 (4463, 0.03627381250550058),
 (4462, 0.0),
 (4461, 0.0),
 (4460, 0.03721614637823934),
 (4459, 0.05195243334661311),
 (4458, 0.04891159880445185),
 (4457, 0.0),
 (4456, 0.0),
 (4455, 0.0),
 (4454, 0.0),
 (4453, 0.0415406492397264),
 (4452, 0.0),
 (4451, 0.04499212706658476),
 (4450, 0.025334729596907),
 (4449, 0.0),
 (4448, 0.04461243988090516),
 (4447, 0.0),
 (4446, 0.023662426214015053),
 (4445, 0.0),
 (4444, 0.0),
 (4443, 0.07254762501100116),
 (4442, 0.0),
 (4441, 0.0),
 (4440, 0.0),
 (4439, 0.0),
 (4438, 0.0),
 (4437, 0.0331133089266261),
 (4436, 0.0),
 (4435, 0.0),
 (4434, 0.03244428422615251),
 (4433, 0.03181423814878889),
 (4432, 0.0),
 (4431, 0.07254762501100116),
 (4430, 0.0),
 (4429, 0.05546053999849018),
 (4428, 0.0),
 (4427, 0.04456565178215865),
 (4426, 0.0),
 (4425, 0.0),
 (4424, 0.0),
 (4423, 0.0),
 (4422, 0.025031308716087945),
 (4421, 0.03382550457458692),
 (4420, 0.029617443887954616),
 (4419, 0.0),
 (4418, 0.0),
 (4417, 0.0),
 (4416, 0.0),
 (4415, 0.0),
 (4414, 0.03382550457458692),
 (4413, 0.023174488732966077),
 (4412, 0.07443229275647868),
 (4411, 0.0),
 (4410, 0.025649458802128853),
 (4409, 0.0),
 (4408, 0.0602475233128778),
 (4407, 0.0),
 (4406, 0.028239124736245257),
 (4405, 0.18731716231633883),
 (4404, 0.0),
 (4403, 0.09733285267845754),
 (4402, 0.0301237616564389),
 (4401, 0.024738534799764674),
 (4400, 0.039344473768231684),
 (4399, 0.04588314677411236),
 (4398, 0.02294157338705618),
 (4397, 0.021300716142115247),
 (4396, 0.0),
 (4395, 0.0),
 (4394, 0.0),
 (4393, 0.0),
 (4392, 0.06814662756363819),
 (4391, 0.0),
 (4390, 0.03823595564509363),
 (4389, 0.02782074420373286),
 (4388, 0.01813690625275029),
 (4387, 0.0),
 (4386, 0.0),
 (4385, 0.0),
 (4384, 0.043747863925980714),
 (4383, 0.03498557142706598),
 (4382, 0.03993615319154359),
 (4381, 0.0),
 (4380, 0.025334729596907),
 (4379, 0.0),
 (4378, 0.0),
 (4377, 0.05484084971070818),
 (4376, 0.0),
 (4375, 0.040555355282690636),
 (4374, 0.0),
 (4373, 0.0),
 (4372, 0.046829290579084706),
 (4371, 0.023662426214015053),
 (4370, 0.0),
 (4369, 0.052631578947368425),
 (4368, 0.03823595564509363),
 (4367, 0.0),
 (4366, 0.0),
 (4365, 0.043355498476206004),
 (4364, 0.0),
 (4363, 0.0),
 (4362, 0.04188539082916955),
 (4361, 0.0),
 (4360, 0.0),
 (4359, 0.021300716142115247),
 (4358, 0.05990422978731538),
 (4357, 0.06243905410544627),
 (4356, 0.0),
 (4355, 0.06362847629757779),
 (4354, 0.0),
 (4353, 0.08998425413316952),
 (4352, 0.0),
 (4351, 0.0662266178532522),
 (4350, 0.0),
 (4349, 0.02913582733740325),
 (4348, 0.13497638119975428),
 (4347, 0.0),
 (4346, 0.0),
 (4345, 0.0),
 (4344, 0.0),
 (4343, 0.08998425413316952),
 (4342, 0.0),
 (4341, 0.07792865001991967),
 (4340, 0.0),
 (4339, 0.05407380704358751),
 (4338, 0.0),
 (4337, 0.0),
 (4336, 0.17521916101261562),
 (4335, 0.022282825891079324),
 (4334, 0.0),
 (4333, 0.04188539082916955),
 (4332, 0.03627381250550058),
 (4331, 0.09365858115816941),
 (4330, 0.05735393346764045),
 (4329, 0.050669459193814),
 (4328, 0.0),
 (4327, 0.025976216673306556),
 (4326, 0.03721614637823934),
 (4325, 0.046348977465932154),
 (4324, 0.03065696697424829),
 (4323, 0.025976216673306556),
 (4322, 0.0),
 (4321, 0.0),
 (4320, 0.06131393394849658),
 (4319, 0.03166237934306518),
 (4318, 0.0),
 (4317, 0.02249606353329238),
 (4316, 0.07894736842105264),
 (4315, 0.0),
 (4314, 0.019117977822546817),
 (4313, 0.028239124736245257),
 (4312, 0.06362847629757779),
 (4311, 0.0),
 (4310, 0.038778336716474064),
 (4309, 0.0),
 (4308, 0.0),
 (4307, 0.0),
 (4306, 0.0),
 (4305, 0.039344473768231684),
 (4304, 0.0),
 (4303, 0.0),
 (4302, 0.0),
 (4301, 0.0),
 (4300, 0.040555355282690636),
 (4299, 0.024182541670333724),
 (4298, 0.0),
 (4297, 0.03181423814878889),
 (4296, 0.0),
 (4295, 0.0),
 (4294, 0.0),
 (4293, 0.057353933467640436),
 (4292, 0.0),
 (4291, 0.0),
 (4290, 0.06917144638660747),
 (4289, 0.0),
 (4288, 0.025976216673306556),
 (4287, 0.023174488732966077),
 (4286, 0.023414645289542353),
 (4285, 0.0),
 (4284, 0.024738534799764674),
 (4283, 0.027036903521793755),
 (4282, 0.03627381250550058),
 (4281, 0.051298917604257706),
 (4280, 0.023662426214015053),
 (4279, 0.07868894753646337),
 (4278, 0.0),
 (4277, 0.018731716231633878),
 (4276, 0.0),
 (4275, 0.0),
 (4274, 0.0),
 (4273, 0.0),
 (4272, 0.0),
 (4271, 0.0),
 (4270, 0.0),
 (4269, 0.0),
 (4268, 0.07694837640638656),
 (4267, 0.0207703246198632),
 (4266, 0.0),
 (4265, 0.04891159880445185),
 (4264, 0.025031308716087945),
 (4263, 0.024182541670333724),
 (4262, 0.0),
 (4261, 0.039344473768231684),
 (4260, 0.026315789473684213),
 (4259, 0.057353933467640436),
 (4258, 0.0),
 (4257, 0.0),
 (4256, 0.09733285267845754),
 (4255, 0.0),
 (4254, 0.0),
 (4253, 0.0),
 (4252, 0.012988108336653278),
 (4251, 0.0),
 (4250, 0.024738534799764674),
 (4249, 0.019968076595771794),
 (4248, 0.039344473768231684),
 (4247, 0.0),
 (4246, 0.05407380704358751),
 (4245, 0.0),
 (4244, 0.029494803841956827),
 (4243, 0.040555355282690636),
 (4242, 0.0),
 (4241, 0.0),
 (4240, 0.023174488732966077),
 (4239, 0.0),
 (4238, 0.05006261743217589),
 (4237, 0.042973504259354006),
 (4236, 0.04188539082916955),
 (4235, 0.016303866268150616),
 (4234, 0.05195243334661311),
 (4233, 0.0),
 (4232, 0.0),
 (4231, 0.0),
 (4230, 0.12824729401064427),
 (4229, 0.0),
 (4228, 0.03181423814878889),
 (4227, 0.022282825891079324),
 (4226, 0.0),
 (4225, 0.041278324068019595),
 (4224, 0.0),
 (4223, 0.0),
 (4222, 0.0),
 (4221, 0.0),
 (4220, 0.03065696697424829),
 (4219, 0.0),
 (4218, 0.027036903521793755),
 (4217, 0.02271554252121273),
 (4216, 0.06765100914917384),
 (4215, 0.024738534799764674),
 (4214, 0.023174488732966077),
 (4213, 0.05407380704358751),
 (4212, 0.0),
 (4211, 0.03065696697424829),
 (4210, 0.0),
 (4209, 0.027036903521793755),
 (4208, 0.0),
 (4207, 0.02043797798283219),
 (4206, 0.0331133089266261),
 (4205, 0.07509392614826384),
 (4204, 0.03065696697424829),
 (4203, 0.09544271444636668),
 (4202, 0.0331133089266261),
 (4201, 0.0),
 (4200, 0.0),
 (4199, 0.0),
 (4198, 0.09933992677987831),
 (4197, 0.0),
 (4196, 0.06131393394849658),
 (4195, 0.03382550457458692),
 (4194, 0.02249606353329238),
 (4193, 0.02913582733740325),
 (4192, 0.2029530274475215),
 (4191, 0.0),
 (4190, 0.0),
 (4189, 0.0),
 (4188, 0.0),
 (4187, 0.024455799402225926),
 (4186, 0.0),
 (4185, 0.0),
 (4184, 0.03244428422615251),
 (4183, 0.0),
 (4182, 0.0),
 (4181, 0.04120428217151646),
 (4180, 0.06952346619889824),
 (4179, 0.02271554252121273),
 (4178, 0.04087595596566438),
 (4177, 0.0),
 (4176, 0.023174488732966077),
 (4175, 0.0),
 (4174, 0.0),
 (4173, 0.0),
 (4172, 0.0),
 (4171, 0.0),
 (4170, 0.0),
 (4169, 0.04120428217151646),
 (4168, 0.024738534799764674),
 (4167, 0.0),
 (4166, 0.0602475233128778),
 (4165, 0.07647191129018727),
 (4164, 0.0),
 (4163, 0.021677749238103002),
 (4162, 0.0),
 (4161, 0.03382550457458692),
 (4160, 0.044151078568834795),
 (4159, 0.0),
 (4158, 0.0),
 (4157, 0.0),
 (4156, 0.026315789473684213),
 (4155, 0.0),
 (4154, 0.03993615319154359),
 (4153, 0.0),
 (4152, 0.0),
 (4151, 0.04204138910034079),
 (4150, 0.0),
 (4149, 0.0),
 (4148, 0.04891159880445185),
 (4147, 0.0),
 (4146, 0.03458572319330373),
 (4145, 0.0),
 (4144, 0.0),
 (4143, 0.02782074420373286),
 (4142, 0.0),
 (4141, 0.028676966733820218),
 (4140, 0.0),
 (4139, 0.040555355282690636),
 (4138, 0.04024218182927669),
 (4137, 0.03382550457458692),
 (4136, 0.0),
 (4135, 0.10619884881071831),
 (4134, 0.052631578947368425),
 (4133, 0.0),
 (4132, 0.03458572319330373),
 (4131, 0.03721614637823934),
 (4130, 0.03823595564509363),
 (4129, 0.014870813293635054),
 (4128, 0.0),
 (4127, 0.02666903735313325),
 (4126, 0.0),
 (4125, 0.05564148840746572),
 (4124, 0.025031308716087945),
 (4123, 0.06814662756363819),
 (4122, 0.0),
 (4121, 0.0),
 (4120, 0.05990422978731538),
 (4119, 0.0301237616564389),
 (4118, 0.0),
 (4117, 0.04543108504242546),
 (4116, 0.02878964680142297),
 (4115, 0.02666903735313325),
 (4114, 0.029617443887954616),
 (4113, 0.02913582733740325),
 (4112, 0.05923488777590923),
 (4111, 0.0),
 (4110, 0.02742042485535409),
 (4109, 0.027036903521793755),
 (4108, 0.0),
 (4107, 0.03065696697424829),
 (4106, 0.0),
 (4105, 0.02043797798283219),
 (4104, 0.0),
 (4103, 0.037463432463267755),
 (4102, 0.0),
 (4101, 0.0),
 (4100, 0.055824219567359015),
 (4099, 0.05923488777590923),
 (4098, 0.0),
 (4097, 0.10259783520851541),
 (4096, 0.0),
 (4095, 0.0),
 (4094, 0.03244428422615251),
 (4093, 0.0),
 (4092, 0.0),
 (4091, 0.0301237616564389),
 (4090, 0.0533380747062665),
 (4089, 0.0),
 (4088, 0.0),
 (4087, 0.04947706959952935),
 (4086, 0.0),
 (4085, 0.028676966733820218),
 (4084, 0.04543108504242546),
 (4083, 0.07175473098524099),
 (4082, 0.0),
 (4081, 0.0),
 (4080, 0.04783648732349399),
 (4079, 0.13157894736842107),
 (4078, 0.026315789473684213),
 (4077, 0.05990422978731538),
 (4076, 0.039344473768231684),
 (4075, 0.04188539082916955),
 (4074, 0.0),
 (4073, 0.0),
 (4072, 0.03382550457458692),
 (4071, 0.0),
 (4070, 0.0),
 (4069, 0.025649458802128853),
 (4068, 0.044151078568834795),
 (4067, 0.02294157338705618),
 (4066, 0.03721614637823934),
 (4065, 0.02666903735313325),
 (4064, 0.0),
 (4063, 0.023918243661746996),
 (4062, 0.04499212706658476),
 (4061, 0.0662266178532522),
 (4060, 0.0),
 (4059, 0.021873931962990357),
 (4058, 0.0),
 (4057, 0.0),
 (4056, 0.0),
 (4055, 0.05407380704358751),
 (4054, 0.0),
 (4053, 0.0),
 (4052, 0.043355498476206004),
 (4051, 0.0207703246198632),
 (4050, 0.0),
 (4049, 0.0),
 (4048, 0.2278389747471728),
 (4047, 0.025031308716087945),
 (4046, 0.0602475233128778),
 (4045, 0.07509392614826384),
 (4044, 0.03721614637823934),
 (4043, 0.019968076595771794),
 (4042, 0.05923488777590923),
 (4041, 0.0),
 (4040, 0.0),
 (4039, 0.028676966733820218),
 (4038, 0.03181423814878889),
 (4037, 0.028239124736245257),
 (4036, 0.046829290579084706),
 (4035, 0.0),
 (4034, 0.0),
 (4033, 0.0),
 (4032, 0.0),
 (4031, 0.0),
 (4030, 0.03627381250550058),
 (4029, 0.03244428422615251),
 (4028, 0.01391037210186643),
 (4027, 0.0),
 (4026, 0.043355498476206004),
 (4025, 0.03539961627023944),
 (4024, 0.016643566632465155),
 (4023, 0.029617443887954616),
 (4022, 0.019968076595771794),
 (4021, 0.021300716142115247),
 (4020, 0.0),
 (4019, 0.06554735253444621),
 (4018, 0.09933992677987831),
 (4017, 0.020121090914638345),
 (4016, 0.0),
 (4015, 0.0),
 (4014, 0.0),
 (4013, 0.021486752129677003),
 (4012, 0.0415406492397264),
 (4011, 0.07443229275647868),
 (4010, 0.15737789507292674),
 (4009, 0.02742042485535409),
 (4008, 0.031219527052723135),
 (4007, 0.0),
 (4006, 0.06362847629757779),
 (4005, 0.0),
 (4004, 0.0),
 (4003, 0.019529164171612674),
 (4002, 0.03498557142706598),
 (4001, 0.0),
 (4000, 0.11803342130469505),
 (3999, 0.18074256993863339),
 (3998, 0.0),
 (3997, 0.04223886030955117),
 (3996, 0.03627381250550058),
 (3995, 0.0582716546748065),
 (3994, 0.0662266178532522),
 (3993, 0.01813690625275029),
 (3992, 0.04588314677411236),
 (3991, 0.024738534799764674),
 (3990, 0.02294157338705618),
 (3989, 0.0301237616564389),
 (3988, 0.04188539082916955),
 (3987, 0.029617443887954616),
 (3986, 0.0),
 (3985, 0.0),
 (3984, 0.0),
 (3983, 0.031219527052723135),
 (3982, 0.13530201829834768),
 (3981, 0.0),
 (3980, 0.0),
 (3979, 0.03181423814878889),
 (3978, 0.0837707816583391),
 (3977, 0.02742042485535409),
 (3976, 0.07254762501100116),
 (3975, 0.0),
 (3974, 0.0),
 (3973, 0.0),
 (3972, 0.03627381250550058),
 (3971, 0.03539961627023944),
 (3970, 0.0),
 (3969, 0.0),
 (3968, 0.031219527052723135),
 (3967, 0.0),
 (3966, 0.0),
 (3965, 0.0),
 (3964, 0.0),
 (3963, 0.019389168358237032),
 (3962, 0.03823595564509363),
 (3961, 0.01749278571353299),
 (3960, 0.0),
 (3959, 0.0),
 (3958, 0.0),
 (3957, 0.0),
 (3956, 0.02913582733740325),
 (3955, 0.03382550457458692),
 (3954, 0.10147651372376076),
 (3953, 0.02782074420373286),
 (3952, 0.0),
 (3951, 0.030254451040802585),
 (3950, 0.021486752129677003),
 (3949, 0.043355498476206004),
 (3948, 0.03797316245786213),
 (3947, 0.03582871819500093),
 (3946, 0.03181423814878889),
 (3945, 0.0),
 (3944, 0.0),
 (3943, 0.0),
 (3942, 0.0),
 (3941, 0.04188539082916955),
 (3940, 0.0),
 (3939, 0.0),
 (3938, 0.043355498476206004),
 (3937, 0.022075539284417398),
 (3936, 0.0),
 (3935, 0.0989541391990587),
 (3934, 0.024182541670333724),
 (3933, 0.0),
 (3932, 0.024455799402225926),
 (3931, 0.06362847629757779),
 (3930, 0.04456565178215865),
 (3929, 0.06488856845230502),

Now we see similarity of movie Avatar with other movies in the reverse order

In [111]:
sorted(list(enumerate(similarity[0])), reverse = True, key=lambda x:x[1])

[(0, 1.0000000000000002),
 (1216, 0.28676966733820225),
 (2409, 0.26901379342448517),
 (3730, 0.2605130246476754),
 (507, 0.255608593705383),
 (539, 0.2503866978335957),
 (582, 0.24511108480187255),
 (1204, 0.24455799402225925),
 (1194, 0.2367785320221084),
 (61, 0.23179316248638274),
 (778, 0.23174488732966075),
 (4048, 0.2278389747471728),
 (1920, 0.22528177844479153),
 (2786, 0.21853668936906193),
 (172, 0.21239769762143662),
 (972, 0.2108663315950723),
 (322, 0.2105263157894737),
 (2333, 0.20443988269091456),
 (3608, 0.20437977982832192),
 (260, 0.20395079136182276),
 (151, 0.2029530274475215),
 (4192, 0.2029530274475215),
 (1444, 0.20277677641345318),
 (74, 0.20246457179963143),
 (1089, 0.2020475485519274),
 (3675, 0.1979082783981174),
 (973, 0.19767387315371682),
 (577, 0.1976738731537168),
 (47, 0.19672236884115843),
 (2971, 0.19252140716412977),
 (942, 0.19134594929397597),
 (495, 0.19088542889273336),
 (1201, 0.19088542889273336),
 (305, 0.1900748713929803),
 (4, 0.18929940971212042),
 (4405, 0.18731716231633883),
 (94, 0.1873171623163388),
 (27, 0.18693292157876878),
 (3327, 0.1860807318911967),
 (1275, 0.18394180184548975),
 (1329, 0.18394180184548975),
 (2999, 0.1813690625275029),
 (3999, 0.18074256993863339),
 (83, 0.17996850826633903),
 (1071, 0.17954621161490197),
 (220, 0.1777046633277277),
 (184, 0.177343107178349),
 (1321, 0.17699808135119718),
 (168, 0.17521916101261562),
 (2204, 0.17521916101261562),
 (4336, 0.17521916101261562),
 (931, 0.1748149640244195),
 (36, 0.17316974359835272),
 (373, 0.17292861596651865),
 (300, 0.1711905958155815),
 (3538, 0.1711905958155815),
 (3162, 0.17040572913692198),
 (1982, 0.16943474841747153),
 (661, 0.1675415633166782),
 (529, 0.16742770563222897),
 (1831, 0.16742770563222897),
 (91, 0.16692446522239718),
 (41, 0.16563698349810535),
 (67, 0.16452254913212452),
 (150, 0.16426202236672155),
 (1537, 0.16222142113076254),
 (342, 0.16122923187750418),
 (595, 0.16059101370939324),
 (31, 0.15907119074394446),
 (2515, 0.15907119074394446),
 (1178, 0.15789473684210528),
 (4010, 0.15737789507292674),
 (2731, 0.15609763526361567),
 (149, 0.15511334686589626),
 (838, 0.1540171257313038),
 (26, 0.15389675281277312),
 (187, 0.15389675281277312),
 (1383, 0.152008377581442),
 (111, 0.15018785229652767),
 (1344, 0.15018785229652767),
 (311, 0.15018785229652765),
 (52, 0.14843120879858804),
 (513, 0.14843120879858804),
 (2075, 0.14808721943977307),
 (7, 0.14673479641335554),
 (2760, 0.14659886790209342),
 (127, 0.14601068654819693),
 (579, 0.14567913668701626),
 (581, 0.14567913668701626),
 (108, 0.14509525002200235),
 (1297, 0.14509525002200235),
 (466, 0.14509525002200233),
 (1396, 0.14421498760030763),
 (1479, 0.14421498760030763),
 (1355, 0.14350946197048198),
 (1938, 0.14350946197048198),
 (275, 0.1433848336691011),
 (294, 0.1433848336691011),
 (3354, 0.1433848336691011),
 (1056, 0.1419745572840903),
 (1273, 0.1419745572840903),
 (490, 0.14159846508095775),
 (1488, 0.14159846508095775),
 (413, 0.1411956236812263),
 (461, 0.1411956236812263),
 (568, 0.1411956236812263),
 (2496, 0.1411956236812263),
 (95, 0.1404878717372541),
 (17, 0.13977653617040256),
 (46, 0.1391037210186643),
 (3409, 0.1391037210186643),
 (1965, 0.13872950617564817),
 (56, 0.13834289277321493),
 (249, 0.13834289277321493),
 (1327, 0.13834289277321493),
 (3781, 0.13834289277321493),
 (72, 0.13710212427677043),
 (843, 0.13710212427677043),
 (859, 0.13710212427677043),
 (2169, 0.13710212427677043),
 (4538, 0.13629325512727639),
 (476, 0.13530201829834768),
 (505, 0.13530201829834768),
 (668, 0.13530201829834768),
 (935, 0.13530201829834768),
 (3982, 0.13530201829834768),
 (1808, 0.13518451760896877),
 (4348, 0.13497638119975428),
 (1322, 0.13476498501489081),
 (158, 0.13369695534647594),
 (502, 0.13369695534647594),
 (777, 0.13369695534647594),
 (126, 0.13334518676566626),
 (1560, 0.13334518676566626),
 (1373, 0.1324532357065044),
 (2378, 0.1324532357065044),
 (2584, 0.1324532357065044),
 (4079, 0.13157894736842107),
 (2133, 0.13124359177794215),
 (1015, 0.12988108336653278),
 (2181, 0.12988108336653278),
 (3622, 0.12988108336653278),
 (134, 0.12977713690461004),
 (368, 0.12977713690461004),
 (1774, 0.12977713690461004),
 (2873, 0.12892051277806202),
 (14, 0.12824729401064427),
 (138, 0.12824729401064427),
 (369, 0.12824729401064427),
 (1086, 0.12824729401064427),
 (2686, 0.12824729401064427),
 (4230, 0.12824729401064427),
 (487, 0.12725695259515557),
 (773, 0.12725695259515557),
 (2970, 0.12725695259515557),
 (937, 0.126673647984535),
 (1741, 0.12565617248750865),
 (2480, 0.12565617248750865),
 (166, 0.12515654358043973),
 (754, 0.12515654358043973),
 (2450, 0.12515654358043973),
 (3628, 0.12515654358043973),
 (483, 0.12487810821089254),
 (1096, 0.12487810821089254),
 (1158, 0.12487810821089254),
 (2652, 0.12487810821089254),
 (102, 0.12462194771917919),
 (84, 0.12361284651454937),
 (208, 0.12262786789699316),
 (3376, 0.12262786789699316),
 (1878, 0.12262786789699315),
 (438, 0.12227899701112963),
 (557, 0.12227899701112963),
 (1299, 0.12227899701112963),
 (2331, 0.12166606584807191),
 (2674, 0.12166606584807191),
 (3083, 0.12166606584807191),
 (139, 0.12072654548783007),
 (68, 0.1204950466257556),
 (781, 0.1204950466257556),
 (1004, 0.1204950466257556),
 (1274, 0.1204950466257556),
 (1658, 0.1204950466257556),
 (1002, 0.11980845957463077),
 (549, 0.11959121830873498),
 (870, 0.11959121830873498),
 (900, 0.11959121830873498),
 (3235, 0.11959121830873498),
 (1047, 0.11846977555181847),
 (1833, 0.11846977555181847),
 (2060, 0.11846977555181847),
 (2741, 0.11846977555181847),
 (4673, 0.11846977555181847),
 (1715, 0.11803342130469506),
 (3721, 0.11803342130469506),
 (1673, 0.11803342130469505),
 (2789, 0.11803342130469505),
 (4000, 0.11803342130469505),
 (160, 0.11712303424679457),
 (182, 0.11707322644771176),
 (278, 0.11707322644771176),
 (454, 0.11707322644771176),
 (1617, 0.11707322644771176),
 (2284, 0.11707322644771176),
 (28, 0.116543309349613),
 (122, 0.116543309349613),
 (422, 0.116543309349613),
 (678, 0.116543309349613),
 (589, 0.1163350101494222),
 (2547, 0.11587244366483038),
 (1497, 0.11551284429847784),
 (3212, 0.11506355109724453),
 (189, 0.1147078669352809),
 (1220, 0.11470786693528089),
 (236, 0.11470786693528087),
 (1301, 0.11470786693528087),
 (85, 0.11412706387705432),
 (432, 0.11357771260606365),
 (1418, 0.11357771260606365),
 (50, 0.11295649894498103),
 (1616, 0.11295649894498103),
 (123, 0.1124803176664619),
 (420, 0.1124803176664619),
 (536, 0.1124803176664619),
 (889, 0.11243619908556624),
 (3147, 0.11239029738980327),
 (256, 0.11164843913471803),
 (808, 0.11164843913471803),
 (1348, 0.11164843913471803),
 (1575, 0.11164843913471803),
 (2372, 0.11141412945539662),
 (1512, 0.11141412945539661),
 (3309, 0.11141412945539661),
 (87, 0.11128297681493143),
 (121, 0.11128297681493143),
 (232, 0.11128297681493143),
 (4468, 0.11128297681493143),
 (206, 0.11092107999698035),
 (238, 0.11092107999698035),
 (228, 0.11037769642208699),
 (81, 0.11020775375559676),
 (1574, 0.11020775375559674),
 (3428, 0.10968169942141637),
 (21, 0.10968169942141635),
 (449, 0.10968169942141635),
 (1031, 0.10968169942141635),
 (1945, 0.10968169942141635),
 (2148, 0.10968169942141635),
 (3008, 0.10968169942141635),
 (692, 0.10936965981495178),
 (200, 0.10882143751650175),
 (627, 0.10882143751650175),
 (653, 0.10882143751650175),
 (1524, 0.10882143751650175),
 (307, 0.10876595882948199),
 (5, 0.10838874619051501),
 (3093, 0.10838874619051501),
 (3630, 0.10838874619051501),
 (740, 0.108388746190515),
 (786, 0.10814761408717502),
 (3498, 0.10814761408717502),
 (4777, 0.10814761408717502),
 (229, 0.1074861545850028),
 (572, 0.10743376064838502),
 (939, 0.1068366854693644),
 (332, 0.106676149412533),
 (472, 0.106676149412533),
 (1237, 0.106676149412533),
 (170, 0.10650358071057624),
 (262, 0.10650358071057624),
 (1166, 0.10619884881071831),
 (1501, 0.10619884881071831),
 (1745, 0.10619884881071831),
 (2161, 0.10619884881071831),
 (2634, 0.10619884881071831),
 (4135, 0.10619884881071831),
 (467, 0.10559715077387793),
 (541, 0.10559715077387793),
 (1496, 0.10559715077387793),
 (131, 0.10526315789473685),
 (295, 0.10526315789473685),
 (2072, 0.10526315789473685),
 (3340, 0.10526315789473685),
 (2498, 0.10471347707292387),
 (75, 0.10390486669322622),
 (223, 0.10390486669322622),
 (687, 0.10390486669322622),
 (814, 0.10390486669322622),
 (1195, 0.10390486669322622),
 (1771, 0.10390486669322622),
 (2817, 0.10390486669322622),
 (2439, 0.103851623099316),
 (654, 0.10385162309931599),
 (105, 0.1037571695799112),
 (233, 0.1037571695799112),
 (624, 0.1037571695799112),
 (2323, 0.1037571695799112),
 (2456, 0.1037571695799112),
 (2521, 0.1037571695799112),
 (3055, 0.1037571695799112),
 (3621, 0.1037571695799112),
 (3839, 0.1037571695799112),
 (1455, 0.10301070542879115),
 (10, 0.10259783520851541),
 (1082, 0.10259783520851541),
 (3152, 0.10259783520851541),
 (3634, 0.10259783520851541),
 (3755, 0.10259783520851541),
 (3874, 0.10259783520851541),
 (4097, 0.10259783520851541),
 (2106, 0.10218988991416095),
 (2762, 0.10147651372376076),
 (3663, 0.10147651372376076),
 (3954, 0.10147651372376076),
 (3441, 0.10138838820672659),
 (508, 0.101338918387628),
 (1294, 0.101338918387628),
 (2247, 0.10133891838762799),
 (1405, 0.10060545457319173),
 (1439, 0.10060545457319173),
 (2099, 0.10060545457319173),
 (312, 0.10012523486435178),
 (330, 0.10012523486435178),
 (643, 0.10012523486435178),
 (988, 0.10012523486435178),
 (1037, 0.10012523486435178),
 (1614, 0.10012523486435178),
 (35, 0.09933992677987831),
 (157, 0.09933992677987831),
 (319, 0.09933992677987831),
 (325, 0.09933992677987831),
 (715, 0.09933992677987831),
 (1077, 0.09933992677987831),
 (1280, 0.09933992677987831),
 (1884, 0.09933992677987831),
 (2053, 0.09933992677987831),
 (4018, 0.09933992677987831),
 (4198, 0.09933992677987831),
 (4490, 0.09933992677987831),
 (363, 0.09909250441117726),
 (491, 0.09909250441117726),
 (266, 0.0989541391990587),
 (445, 0.0989541391990587),
 (510, 0.0989541391990587),
 (3620, 0.0989541391990587),
 (3783, 0.0989541391990587),
 (3935, 0.0989541391990587),
 (1775, 0.09836118442057921),
 (410, 0.0978231976089037),
 (480, 0.0978231976089037),
 (535, 0.0978231976089037),
 (898, 0.0978231976089037),
 (1109, 0.0978231976089037),
 (1401, 0.0978231976089037),
 (1823, 0.0978231976089037),
 (2253, 0.0978231976089037),
 (33, 0.09733285267845754),
 (148, 0.09733285267845754),
 (263, 0.09733285267845754),
 (878, 0.09733285267845754),
 (1156, 0.09733285267845754),
 (1727, 0.09733285267845754),
 (1942, 0.09733285267845754),
 (2787, 0.09733285267845754),
 (4256, 0.09733285267845754),
 (4403, 0.09733285267845754),
 (4472, 0.09733285267845754),
 (9, 0.0967301666813349),
 (334, 0.0967301666813349),
 (371, 0.09567297464698798),
 (412, 0.09567297464698798),
 (2241, 0.09567297464698798),
 (2556, 0.09567297464698798),
 (4545, 0.09558988911273408),
 (362, 0.09544271444636668),
 (791, 0.09544271444636668),
 (1573, 0.09544271444636668),
 (2562, 0.09544271444636668),
 (4203, 0.09544271444636668),
 (18, 0.09493290614465533),
 (11, 0.09464970485606021),
 (587, 0.09464970485606021),
 (660, 0.09365858115816941),
 (920, 0.09365858115816941),
 (980, 0.09365858115816941),
 (1276, 0.09365858115816941),
 (1357, 0.09365858115816941),
 (1474, 0.09365858115816941),
 (1686, 0.09365858115816941),
 (1692, 0.09365858115816941),
 (1721, 0.09365858115816941),
 (2396, 0.09365858115816941),
 (2488, 0.09365858115816941),
 (2592, 0.09365858115816941),
 (2645, 0.09365858115816941),
 (2650, 0.09365858115816941),
 (2820, 0.09365858115816941),
 (3537, 0.09365858115816941),
 (3720, 0.09365858115816941),
 (4331, 0.09365858115816941),
 (4502, 0.09365858115816941),
 (301, 0.09365858115816939),
 (129, 0.09269795493186431),
 (243, 0.09269795493186431),
 (279, 0.09269795493186431),
 (473, 0.09269795493186431),
 (596, 0.09269795493186431),
 (813, 0.09269795493186431),
 (1446, 0.09269795493186431),
 (1701, 0.09269795493186431),
 (3407, 0.09269795493186431),
 (785, 0.09243423333081695),
 (219, 0.09197090092274487),
 (244, 0.09197090092274487),
 (511, 0.09197090092274487),
 (1756, 0.09197090092274487),
 (2093, 0.09197090092274487),
 (2651, 0.09197090092274487),
 (3736, 0.09197090092274487),
 (230, 0.09183979479633063),
 (799, 0.09183979479633063),
 (239, 0.09125667909262308),
 (2570, 0.09125667909262308),
 (43, 0.09086217008485092),
 (602, 0.09086217008485092),
 (997, 0.09086217008485092),
 (1233, 0.09086217008485092),
 (1846, 0.09086217008485092),
 (3881, 0.09086217008485092),
 (12, 0.09037128496931669),
 (88, 0.09037128496931669),
 (167, 0.09037128496931669),
 (356, 0.09037128496931669),
 (400, 0.09037128496931669),
 (1306, 0.09037128496931669),
 (1480, 0.09037128496931669),
 (2251, 0.09037128496931669),
 (2957, 0.09037128496931669),
 (331, 0.08998425413316952),
 (2363, 0.08998425413316952),
 (2796, 0.08998425413316952),
 (2856, 0.08998425413316952),
 (3389, 0.08998425413316952),
 (3443, 0.08998425413316952),
 (3462, 0.08998425413316952),
 (4343, 0.08998425413316952),
 (4353, 0.08998425413316952),
 (274, 0.08977310580745099),
 (1906, 0.0891313035643173),
 (2115, 0.08903057122447033),
 (292, 0.08885233166386385),
 (564, 0.08885233166386385),
 (1027, 0.08885233166386385),
 (2660, 0.08885233166386385),
 (2868, 0.08885233166386385),
 (3322, 0.08885233166386385),
 (169, 0.08830215713766959),
 (270, 0.08830215713766959),
 (618, 0.08830215713766959),
 (1783, 0.08830215713766959),
 (2109, 0.08830215713766959),
 (2713, 0.08830215713766959),
 (2740, 0.08830215713766959),
 (3553, 0.08830215713766959),
 (479, 0.08797691788472335),
 (752, 0.08749572785196143),
 (1832, 0.08749572785196143),
 (2448, 0.08746392856766495),
 (23, 0.08740748201220976),
 (141, 0.08740748201220976),
 (389, 0.08740748201220976),
 (745, 0.08740748201220976),
 (794, 0.08740748201220976),
 (960, 0.08740748201220976),
 (1249, 0.08740748201220976),
 (1259, 0.08740748201220976),
 (3448, 0.08740748201220976),
 (3449, 0.08740748201220976),
 (143, 0.08671099695241201),
 (199, 0.08671099695241201),
 (827, 0.08671099695241201),
 (1530, 0.08671099695241201),
 (2880, 0.08671099695241201),
 (3556, 0.08671099695241201),
 (4516, 0.08671099695241201),
 (4587, 0.08671099695241201),
 (2, 0.08603090020146065),
 (457, 0.08603090020146065),
 (775, 0.08603090020146065),
 (1378, 0.08603090020146065),
 (2583, 0.08603090020146065),
 (3135, 0.08603090020146065),
 (4754, 0.08603090020146065),
 (234, 0.08594700851870801),
 (1019, 0.08594700851870801),
 (2354, 0.08594700851870801),
 (32, 0.08520286456846099),
 (217, 0.08520286456846099),
 (142, 0.08471737420873576),
 (894, 0.08471737420873576),
 (1097, 0.08471737420873576),
 (1142, 0.08471737420873576),
 (1589, 0.08471737420873576),
 (2304, 0.08471737420873576),
 (4560, 0.08471737420873576),
 (48, 0.08447772061910234),
 (190, 0.08447772061910234),
 (1305, 0.08447772061910234),
 (1639, 0.08447772061910234),
 (2968, 0.08447772061910234),
 (62, 0.0837707816583391),
 (381, 0.0837707816583391),
 (534, 0.0837707816583391),
 (1698, 0.0837707816583391),
 (3180, 0.0837707816583391),
 (3218, 0.0837707816583391),
 (3978, 0.0837707816583391),
 (4737, 0.0837707816583391),
 (1, 0.08346223261119858),
 (152, 0.08346223261119858),
 (203, 0.08346223261119858),
 (315, 0.08346223261119858),
 (547, 0.08346223261119858),
 (1688, 0.08346223261119858),
 (2128, 0.08346223261119858),
 (2386, 0.08321783316232578),
 (19, 0.0830812984794528),
 (403, 0.0830812984794528),
 (3905, 0.0830812984794528),
 (45, 0.08240856434303293),
 (2203, 0.08240856434303293),
 (39, 0.08226127456606226),
 (227, 0.08226127456606226),
 (341, 0.08226127456606226),
 (626, 0.08226127456606226),
 (787, 0.08226127456606226),
 (1207, 0.08226127456606226),
 (1749, 0.08226127456606226),
 (2167, 0.08226127456606226),
 (2661, 0.08226127456606226),
 (3140, 0.08226127456606226),
 (3301, 0.08226127456606226),
 (3470, 0.08226127456606226),
 (63, 0.08175191193132876),
 (501, 0.08175191193132876),
 (38, 0.08111071056538127),
 (242, 0.08111071056538127),
 (245, 0.08111071056538127),
 (306, 0.08111071056538127),
 (584, 0.08111071056538127),
 (812, 0.08111071056538127),
 (866, 0.08111071056538127),
 (901, 0.08111071056538127),
 (1269, 0.08111071056538127),
 (1519, 0.08111071056538127),
 (1664, 0.08111071056538127),
 (2339, 0.08111071056538127),
 (2644, 0.08111071056538127),
 (2671, 0.08111071056538127),
 (2865, 0.08111071056538127),
 (2877, 0.08111071056538127),
 (3527, 0.08111071056538127),
 (3926, 0.08111071056538127),
 (4492, 0.08111071056538127),
 (4568, 0.08111071056538127),
 (4626, 0.08111071056538127),
 (4641, 0.08111071056538127),
 (4654, 0.08111071056538127),
 (4657, 0.08111071056538127),
 (51, 0.08048436365855338),
 (164, 0.08000711205939975),
 (854, 0.08000711205939975),
 (899, 0.08000711205939975),
 (1325, 0.08000711205939975),
 (1747, 0.08000711205939975),
 (2683, 0.08000711205939975),
 (3764, 0.08000711205939975),
 (3816, 0.08000711205939975),
 (3851, 0.08000711205939975),
 (486, 0.07992075789278003),
 (103, 0.07987230638308718),
 (222, 0.07987230638308718),
 (1534, 0.07987230638308718),
 (2792, 0.07987230638308718),
 (4506, 0.07987230638308718),
 (1898, 0.0792740035289418),
 (16, 0.07894736842105264),
 (37, 0.07894736842105264),
 (241, 0.07894736842105264),
 (329, 0.07894736842105264),
 (1080, 0.07894736842105264),
 (1161, 0.07894736842105264),
 (2295, 0.07894736842105264),
 (3233, 0.07894736842105264),
 (4316, 0.07894736842105264),
 (193, 0.07878168645790681),
 (153, 0.07868894753646337),
 (776, 0.07868894753646337),
 (1045, 0.07868894753646337),
 (1828, 0.07868894753646337),
 (1926, 0.07868894753646337),
 (3728, 0.07868894753646337),
 (3832, 0.07868894753646337),
 (4279, 0.07868894753646337),
 (4473, 0.07868894753646337),
 (125, 0.07843304784240032),
 (286, 0.0781166566864507),
 (1659, 0.0781166566864507),
 (174, 0.07792865001991967),
 (402, 0.07792865001991967),
 (922, 0.07792865001991967),
 (1113, 0.07792865001991967),
 (2938, 0.07792865001991967),
 (3028, 0.07792865001991967),
 (3091, 0.07792865001991967),
 (3102, 0.07792865001991967),
 (3164, 0.07792865001991967),
 (4341, 0.07792865001991967),
 (1924, 0.07755667343294813),
 (3560, 0.07755667343294813),
 (1282, 0.0770085628656519),
 (40, 0.07694837640638656),
 (96, 0.07694837640638656),
 (101, 0.07694837640638656),
 (112, 0.07694837640638656),
 (207, 0.07694837640638656),
 (632, 0.07694837640638656),
 (737, 0.07694837640638656),
 (1289, 0.07694837640638656),
 (2219, 0.07694837640638656),
 (4268, 0.07694837640638656),
 (4624, 0.07694837640638656),
 (850, 0.07647191129018727),
 (1005, 0.07647191129018727),
 (1139, 0.07647191129018727),
 (1254, 0.07647191129018727),
 (1621, 0.07647191129018727),
 (2165, 0.07647191129018727),
 (2274, 0.07647191129018727),
 (2712, 0.07647191129018727),
 (3430, 0.07647191129018727),
 (4165, 0.07647191129018727),
 (70, 0.076004188790721),
 (82, 0.076004188790721),
 (235, 0.076004188790721),
 (349, 0.076004188790721),
 (492, 0.076004188790721),
 (1290, 0.076004188790721),
 (1523, 0.076004188790721),
 (2449, 0.076004188790721),
 (2916, 0.076004188790721),
 (4558, 0.076004188790721),
 (246, 0.07594632491572426),
 (2005, 0.07543142864047142),
 (3331, 0.07530940414109724),
 (98, 0.07509392614826384),
 (210, 0.07509392614826384),
 (361, 0.07509392614826384),
 (365, 0.07509392614826384),
 (503, 0.07509392614826384),
 (540, 0.07509392614826384),
 (680, 0.07509392614826384),
 (1009, 0.07509392614826384),
 (1293, 0.07509392614826384),
 (2163, 0.07509392614826384),
 (4045, 0.07509392614826384),
 (4205, 0.07509392614826384),
 (2256, 0.07492686492653551),
 (205, 0.07443229275647868),
 (800, 0.07443229275647868),
 (995, 0.07443229275647868),
 (1323, 0.07443229275647868),
 (1521, 0.07443229275647868),
 (1770, 0.07443229275647868),
 (2326, 0.07443229275647868),
 (2551, 0.07443229275647868),
 (2801, 0.07443229275647868),
 (3069, 0.07443229275647868),
 (3117, 0.07443229275647868),
 (3126, 0.07443229275647868),
 (4011, 0.07443229275647868),
 (4412, 0.07443229275647868),
 (4542, 0.07443229275647868),

In [112]:
sorted(list(enumerate(similarity[0])), reverse = True, key=lambda x:x[1])[1:6]

[(1216, 0.28676966733820225),
 (2409, 0.26901379342448517),
 (3730, 0.2605130246476754),
 (507, 0.255608593705383),
 (539, 0.2503866978335957)]

In [114]:
def recommend(movie):
    movie_index = new_database[new_database['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse = True, key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(i[0])

In [115]:
recommend('Avatar')

1216
2409
3730
507
539

In [117]:
new_database.iloc[1216]

movie_id                                                  440
title                             Aliens vs Predator: Requiem
tags        a sequel to 2004' alien vs. predator, the icon...
Name: 1216, dtype: object

In [120]:
def recommend(movie):
    movie_index = new_database[new_database['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse = True, key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_database.iloc[i[0]].title)

In [121]:
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [122]:
recommend("Batman Begins")

The Dark Knight
Batman
Batman
The Dark Knight Rises
10th & Wolf

In [123]:
recommend('The Dark Knight')

The Dark Knight Rises
Batman Begins
Batman Returns
Batman Forever
Batman